html, body{
    margin-left: 5em;
    background-color: #fffff0;
}
.wrapper {
  max-width: 960px;
  margin: auto;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
}
.content {
  padding-top: 2em;
  padding-bottom: 1em;
}
#main {
    padding-bottom: 1em;
}
@media (max-width: 960px) {
  html, body {
    overflow-x: hidden;
  }
}