<!doctype html>

<html lang="en-us">
<head>
  <title>NBA Wingspan Hypothetical | Michael A. Agarenzo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimum-scale=1, maximum-scale=1" />
  <meta name="description" content="Michael A. Agarenzo - Software Engineer" />
  <link rel="icon" href="{{ url_for('static', filename='imgs/professional-headshot.png') }}" />
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}" />
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div id="main">
        <h1>NBA Wingspan Hypothetical</h1>
        <br />
        <form method="POST">
          <p>Enter your current wingspan in inches:</p>
          <p>{{ wingspanErrorString }}</p>
          <p><input name="wingspan"></p>
          <p>Enter amount of inches to remove from your wingspan:</p>
          <p>{{ inchesErrorString }}</p>
          <p><input name="inches"></p>
          <p><input type="submit" class="btn btn-primary" role="button"></p>
        </form>
        <p>{{ mathErrorString }}</p>
        <p>{{ currentPlayerString }}</p>
        <p>{{ newPlayerString }}</p>
      </div>
    </div>
  </div>
<!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>